<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Min Websida{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <header>
      <nav>
        <a href="/">Home</a> | <a href="/contact">Contact</a> |
        <a href="/about">About</a>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>
    <footer>
      <p>&copy; 2026 My Flask Site</p>
    </footer>
  </body>
</html>
